<div class="header-bar select-shopbar">
    <span style="line-height:45px;position:relative;float:right;Z-index:1056">
        <a href="#/showShopInfo" id="showShopInfo">
            <img class="dianpu-img" src="{{imageUrl}}/dianpu.png">
        </a>
    </span>
    <div class="header-title" style="display:inline-block;">=={$name}==</div>
    <span style="line-height:45px;position:absolute;">
        <a href="#/selectShop" id="selectShop">
            <img class="dianpu-img" src="{{imageUrl}}/zhoubian.png">
        </a>
    </span>
</div>

<!--幻灯片播放-->
<div class="swiper-container">
    <div class="swiper-wrapper" style="height:180px;">
        {{each ads as value i}} {{if value.adsname == 1}}
        <div class="swiper-slide">
            <a href="{{value.url}}">
                <img class="lazy" src="{{imageUrl}}/blank.gif" data-echo="{{uploadsUrl+value.savepath+value.savename}}"
                     style="display: inline; width: 100%;">
            </a>
        </div>
        {{/if}} {{/each}}
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="mod-desc">
    <ul>
        {{each ads as value i}} {{if value.adsname == 2}}
        <li class="item item_third">
            <a href="{{value.url}}" title="{{value.name}}">
                <div class="item-image item-image_third"><img src="{{imageUrl}}/blank.gif"
                                                              data-echo="{{uploadsUrl+value.savepath+value.savename}}"
                                                              class="lazy"
                                                              style="width: 100%; margin-top: 0px; display: inline;background: #FFF url({{imageUrl}}/loading.gif) no-repeat center center;background-size: 30px;">
                    <div class="select-shadow">
                        <div class="select-inner"><img src="{{imageUrl}}/ico_select.png" alt="selected"><span>已选</span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="single-item-info">
                <div class="item-title contentCenter">{{value.name}}</div>
            </div>
        </li>
        {{/if}} {{/each}}
    </ul>
</div>
<div class="m-component-promotion" id="list-section">
    <ul class="list-unstyled" id="list-sale">
        {{each ads as value i}} {{if value.adsname == 3}}
        <li>
            <a href="{{value.url}}">
                <img class="lazy" src="{{imageUrl}}/blank.gif"
                     data-echo="{{uploadsUrl+value.savepath+value.savename}}"
                     style="display: inline; height: 137px;">
            </a>
        </li>
        {{/if}} {{/each}}
    </ul>
</div>
<div id="lazyProductsContainer">

</div>
<script type="application/javascript">
    $("document").ready(function () {
        $.ajax({
            type: "get",
            url: data.baseUrl + "/General/Biz/getProductsOfShopHotLabels",
            data: {
                shopId: data.shopId,
            },
            success: function (res) {
                if (res) {
                    $("#lazyProductsContainer").html("sssssssssssssss");
                }
            },
            beforeSend: function () {
                $('#page_tag_load').show();
            },
            complete: function () {
                $('#page_tag_load').hide();
            }
        });
    });
</script>