<ul class="list-unstyled">
    {{each dataList as dataItem index}}
    <li>
        <a href="#/groupbuy/{{dataItem.id}}">
            <img class="lazy" src="{{imageUrl}}/blank.gif"
                 data-echo="{{uploadsUrl+dataItem.savepath}}360-137-__{{dataItem.savename}}"
                 style="display: inline; height: 137px;">
            {{dataItem.savepath,dataItem.savename,360,137 | getThumb}}
        </a>
        <div class="single-item-info">
            {{if dataItem.soldcount}}
                {{if dataItem.successfulstatus ==1 }}
                <div class="item-title contentCenter">{{dataItem.name}}&nbsp;(总{{dataItem.piececount}}份,拼团已成功)</div>
                {{else}}
                <div class="item-title contentCenter">{{dataItem.name}}&nbsp;(已售{{dataItem.soldcount}}份/总{{dataItem.piececount}}份)</div>
                {{/if}}
            {{else}}
            <div class="item-title contentCenter">{{dataItem.name}}&nbsp;(已售0份/总{{dataItem.piececount}}份)</div>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>