<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button type="button" id="btnSearchShop">加载</button>
<button type="button" id="btnLoadKeyValueArray">加载K/V数组</button>
<button type="button" id="btnLoadShopLabels">加载店铺标签产品</button>
<button type="button" id="btnLoadGroupBuys">加载店铺团购活动</button>
<p class="dataContainer" id="dataContainer">
    显示内容
</p>

<script type="text/javascript" src="__ROOT__/Public/Admin/dist/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/dist/js/template.js"></script>

<script id="test" type="text/html">
    {{each orders as value index}}
    <li><span style="color:#16aad8;">{{value.shop__name}}</span>
        <div class="order-info"><span class="number">订单号：<span id="order-no">{{value.orderid}}</span></span><span
                class="date" style="float: right">{{value.time}}</span><span
                class="order-status">pay_status,order_status</span>
        </div>
        <div class="order-list" id="item-order-list">
            <ul>
                {{each value.detail as skuItem index}}
                <li><span class="order-item-name">{{skuItem.name}} {{sku}}</span><span
                        class="order-item-price">￥{{skuItem.price}}</span><span
                        class="order-item-amount">{{skuItem.num}} 份</span>
                </li>
                {{/each}}
            </ul>
            <div class="mytotal-info"><span class="deliver">运费：{{value.freight}} 元</span><span class="deliver">优惠：{{value.discount}} 元</span><span
                    class="total">共 {{value.totalprice}} 元</span></div>
        </div>
        <div class="order-footer">cancel_status,comment_status,pay_status<a class="dail-small"
                                                                            href="tel:' + jsData.config.tel + '"><span
                class="dail-ico"><i class="ico ico-phone"></i></span><span class="dail-text">拨打电话催一催</span></a></div>
        <div class="divider"></div>
    </li>
    {{/each}}

</script>

<script id="kvArray" type="text/html">
    {{each result as value index}}
    {{index}}
    {{each value as item}}
    {{item}}
    {{/each}}<br/>
    {{/each}}
</script>

<script id="shopLabels" type="text/html">
    {{each labels as labelItem index}}
    <div class="product-hot">
        <div class="mod-title">{{index}}</div>
        <ul>
            {{each labelItem as value i}}
            <li class="item item_third">
                <a href="{{value.url}}" title="{{value.name}}">
                    <div class="item-image item-image_third"><img src="{{imageUrl}}/blank.gif"
                                                                  data-echo="{{uploadsUrl+value.savepath+value.savename}}"
                                                                  class="lazy"
                                                                  style="width: 100%; margin-top: 0px; display: inline;background: #FFF url({{imageUrl}}/loading.gif) no-repeat center center;background-size: 30px;">
                        <div class="select-shadow">
                            <div class="select-inner"><img src="{{imageUrl}}/ico_select.png" alt="selected"><span>已选</span>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="single-item-info">
                    <div class="item-title contentCenter">{{value.name}}</div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSearchShop").on("click", function () {
            $.ajax({
                type: "get",
                url: "__APP__/General/Biz/getOrders",
                data: {
                    reorgnize: true,
                    userId: 802,
                },
                success: function (res) {
                    //alert(res);
                    json = eval(res);
                    var dataSending = {
                        orders: json,
                    };
                    //var html= template('test');
                    var html = template('test', dataSending);
                    $('#dataContainer').html(html);
                },
                error: function () {
                    $('#dataContainer').html('错误');
                },
                beforeSend: function () {

                },
                complete: function () {

                }
            });
        });

        $("#btnLoadKeyValueArray").on("click", function () {
            $.ajax({
                type: "get",
                url: "__APP__/General/Biz/getKeyValueArrayTest",
                data: {},
                success: function (res) {
                    //alert(res);
                    json = eval(res);
                    var dataSending = {
                        result: json,
                    };

                    var html = template('kvArray', dataSending);
                    $('#dataContainer').html(html);
                },
                error: function () {
                    $('#dataContainer').html('错误');
                },
                beforeSend: function () {

                },
                complete: function () {

                }
            });
        });

        $("#btnLoadShopLabels").on("click", function () {
            $.ajax({
                type: "get",
                url: "__APP__/General/Biz/getProductsOfShopHotLabels",
                data: {shopId: 144,},
                success: function (res) {
                    //alert(res);
                    json = eval(res);
                    var dataSending = {
                        labels: json,
                    };

                    var html = template('shopLabels', dataSending);
                    $('#dataContainer').html(html);
                },
                error: function () {
                    $('#dataContainer').html('错误');
                },
                beforeSend: function () {

                },
                complete: function () {

                }
            });
        });


        $("#btnLoadGroupBuys").on("click", function () {
            $.ajax({
                type: "get",
                url: "__APP__/General/Biz/getGroupBuys",
                data: {shopId: 144,},
                success: function (res) {
                    $('#dataContainer').html(res);
//                    json = eval(res);
//                    var dataSending = {
//                        labels: json,
//                    };
//
//                    var html = template('shopLabels', dataSending);
//                    $('#dataContainer').html(html);
                },
                error: function () {
                    $('#dataContainer').html('错误');
                },
                beforeSend: function () {

                },
                complete: function () {

                }
            });
        });
    });
</script>
</body>
</html>