<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button type="button" id="btnSearchShop">加载</button>
<p class="dataContainer" id="dataContainer">
    显示内容
</p>

<script type="text/javascript" src="__ROOT__/Public/Admin/dist/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/dist/js/template.js"></script>

<script id="test" type="text/html">
    {{each orders as value index}}
    <li><span style="color:#16aad8;">
        {{value.shop__name}}
    </span>


    </li>
    {{/each}}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSearchShop").on("click", function () {
            $.ajax({
                type: "get",
                url: "__APP__/General/Biz/getOrders",
                data: {
                    reorgnize:true,
                    userId: 802,
                },
                success: function (res) {
                    //alert(res);
                    json = eval(res);
                    var dataSending = {
                        orders: json,

                        //jsData: data,
                    };
                    //var html= template('test');
                    var html = template('test', dataSending);
                    $('#dataContainer').html(html);
                },
                error: function () {
                    $('#dataContainer').html('错误');
                },
                beforeSend: function () {

                },
                complete: function () {

                }
            });
        });

    });
</script>
</body>
</html>