<!DOCTYPE html>
<html>
<include file="Public:header"/>
<body class="hold-transition skin-red-light sidebar-mini">
<div class="wrapper">
    <div id="top"></div>
    <header class="main-header">
        <!-- Logo -->
        <a href="" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>{:C('PROJECT_NAME_SHORT')}</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>{:C('PROJECT_NAME')}</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-exchange"></i>
                            {$shopBar['name']?$shopBar['name']:'选择店铺'}
                        </a>
                        <ul class="dropdown-menu">
                            <a href="{:U('Home/AddShop/shop')}" target="_parent">
                                <li class="header" style="padding:5px 18px;">
                                    店铺列表
                                </li>
                            </a>
                            <volist name="shopBarList" id="shopBarList">
                                <li>
                                    <a href="{:U('Home/Shop/switchShop',array('id'=>$shopBarList['id']))}"
                                       target="_parent">
                                        <i class="fa fa-exchange"></i>
                                        {$shopBarList.name}
                                    </a>
                                </li>
                            </volist>
                            <li class="footer"><a href="#"></a></li>
                        </ul>
                    </li>

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="__PUBLIC__/Admin/dist/img/logo-simple.png" class="user-image" alt="User Image">
                            <span class="hidden-xs">{$Think.session.homeName}</span> <span id="infoTipSpan"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="__PUBLIC__/Admin/dist/img/logo-simple.png" class="img-circle"
                                     alt="User Image">
                                <p>
                                    {$Think.session.homeName}
                                    <small>店铺管理员</small>
                                </p>
                            </li>
                            <div class="infobox infobox-pink">
                                <div class="infobox-data">
                                    <span class="infobox-data-number" style="font-size: 18px;">
                                        新订单提示信息
                                    </span>
                                    <div class="infobox-content">
                                        <a href="{:U('Home/Order/order')}"> 您有<span id="spanOrderCount">0</span>条新订单</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <a href="{:U('Home/Public/logout')}" target="_self"
                                   class="btn btn-default btn-flat">注销</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <!--<li>-->
                    <!--    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
                    <!--</li>-->
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" style="margin-top: 12px">
                <include file="Index:left"/>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="pjax-container">
        <!-- Content Header (Page header) -->
        {__CONTENT__}
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 5.0.0
        </div>
        <strong>Copyright &copy; 2015-2016 {:C('PROJECT_NAME')}.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-light">

    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<div id="loading" style="top: 150px;">
    <div class="lbk"></div>
    <div class="lcont"><img src="__PUBLIC__/Admin/dist/img/loading.gif" alt="loading...">正在加载...</div>
</div>

<include file="Public:footer"/>

<script type="text/javascript">
    $(document).ready(function () {
        $('<audio id="chatAudio"><source src="__PUBLIC__/Admin/dist/wav/newtip.mp3" type="audio/mpeg"></audio>').appendTo('body');//载入声音文件
        function getNewOrderTip() {
            $.ajax({
                type: "Get",
                url: "__APP__/Home/Index/getNoticingOrderCount",
                success: function (msg) {
                    var orderCount = parseInt(msg);
                    if (orderCount > 0) {
                        var content = '<span">' + orderCount + '</span>';
                        $('#spanOrderCount').html(orderCount);
                        $("#infoTipSpan").html(content);


                        $('#chatAudio')[0].play();
                        setInterval(function(){ $("#infoTipSpan").fadeOut(200).fadeIn(200); },400);
                    } else {
                        $('#spanOrderCount').html('0');
                        $("#infoTipSpan").html('');
                    }
                }
            });
        }

        setInterval(getNewOrderTip, 60000);
    });
</script>
</body>
</html>