<section class="content-header">
    <h1>
        用户管理
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">用户搜索</h3>
                </div>
                <!-- form start -->
                <form class="form-horizontal" action="{:U('')}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <?php $shopId= session('homeShopId');
                                $cookiePrefix= 'shopbuyer'.$shopId; ?>
                            <label class="col-sm-2 control-label">用户ID</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="userID"
                                       placeholder="用户的id在用户进入店铺后，“我的”中查询"
                                       value="<?php $cookieValue=cookie($cookiePrefix.'-userID'); if($cookieValue!=null)  {echo $cookieValue;} ?>"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关注时间</label>
                            <div class="col-sm-10">
                                <?php $cookieValue= cookie($cookiePrefix.'-timeRange');?>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" name="timeRange"
                                           id="reservationtime" value="{$productPost.timeRange}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-block btn-danger">开始搜索</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">用户列表</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--<div class="mailbox-controls">-->
                    <!--    <div class="btn-group">-->
                    <!--        <a href="" class="btn btn-danger ">-->
                    <!--            导出全部用户-->
                    <!--        </a>-->
                    <!--    </div>-->
                    <!-- /.btn-group -->
                    <!--</div>-->
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <!--<th class="hidden-xs">-->
                                <!--    <label><input onchange="checkAll()" type="checkbox" value=""></label>-->
                                <!--</th>-->
                                <th>编号</th>
                                <th>用户名</th>
                                <th>openid</th>
                                <th>头像</th>
                                <th>关注时间</th>
                                <!--<th>操作</th>-->
                            </tr>
                            <volist name="userList" id="user">
                                <tr>
                                    <!--<td class="hidden-xs">-->
                                    <!--    <label><input name="checkbox" class="check" type="checkbox" value="{$user.id}"></label>-->
                                    <!--</td>-->
                                    <td>{$user.user.id}</td>
                                    <td>{$user.user.username}</td>
                                    <td>{$user.openid}</td>
                                    <td>
                                        <if condition="$user.user.avater neq ''">
                                            <img src="{$user.user.avater}" style="width: 48px;height: 48px">
                                        </if>
                                    </td>
                                    <td>{$user.time}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <div class="pull-right">
                                    {$page}
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <script type="text/javascript">
        $(function () {
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePicker12Hour: false,
                timePickerIncrement: 15,
                format: 'YYYY-MM-DD HH:mm:ss',
                separator: ' --- ',
            });
            if ('{$productPost}') {
                $('select[name="recommend"]').val('{$productPost.recommend}');
                $('select[name="status"]').val('{$productPost.status}');
            }

            $.each($(".table").find("img"), function (i, value) {
                if ($(value).attr("src") == "") {
                    $(value).attr("src", "{$basicConfig.defaultavatar}");
                }
            });
        });
    </script>
</section>