<section class="content-header">
    <h1>
        红包活动管理
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <p>设置完红包派发活动后，请联系平台服务人员进行审核。否则红包活动无法生效。</p>
                <p>联系方式：QQ 9727005；TEL 13001597878</p>
            </div>
        </div>
        <!--/.col (right) -->
    </div>

    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">红包活动管理</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">

                    </div>
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th class="hidden-xs">
                                    <label><input onchange="checkAll()" type="checkbox" value=""></label>
                                </th>
                                <th>流水号</th>
                                <th>店铺与活动</th>
                                <th>总金额</th>
                                <th>总包情形</th>
                                <th>单包情形</th>
                                <th>活动时间</th>
                                <th>状态与审核</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            <volist name="dataList" id="item">
                                <tr>
                                    <td class="hidden-xs">
                                        <label><input name="checkbox" class="check" type="checkbox"
                                                      value="{$item.id}"></label>
                                    </td>
                                    <td>
                                        {$item.id}
                                    </td>
                                    <td>
                                        {$item.shop.name}<br/>
                                        {$item.actionname}
                                    </td>
                                    <td>
                                        {$item.totalamount}元
                                    </td>
                                    <td>
                                        实包数：{$item.countreal}<br/>
                                        空包数：{$item.countempty}
                                    </td>
                                    <td>
                                        单包最小额：{$item.minamountperunit}元<br/>
                                        单包最大额：{$item.maxamountperunit}元
                                    </td>
                                    <td>
                                        开始：{$item.begintime}<br/>
                                        结束：{$item.endtime}
                                    </td>
                                    <td>
                                        <?php echo \Common\Model\BizConst::getConstText("REDPACKET_ACTION_STATUS_",$item['status'],"_S_TEXT"); ?>
                                        <br/>
                                        <?php echo \Vendor\Hiland\Utils\Datas\SystemConst::getConstText("COMMON_REVIEW_STATUS_",$item['adminstatus']); ?>
                                    </td>
                                    <td>
                                        {$item.createtime}
                                    </td>
                                    <td class="table-action">
                                        <if condition="$item['adminstatus'] neq 1">
                                            <a href="{:U('Admin/Trade/redPacketMaintenance',array('id'=>$item['id'],'adminstatus'=>1))}">审核通过</a>
                                        </if>
                                        <if condition="$item['adminstatus'] neq -1">
                                            <a href="{:U('Admin/Trade/redPacketMaintenance',array('id'=>$item['id'],'adminstatus'=>-1))}">审核拒绝</a>
                                        </if>

                                        <a href="{:U('Admin/Trade/redPacketDetailList',array('id'=>$item['id']))}">详情</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <div class="btn-group">

                                </div>
                                <!-- /.btn-group -->
                                <div class="pull-right">
                                    {$page}
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>